@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(193, 250, 193);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: green;
}
h1#principal{
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(24, 141, 30);
}
h2{
    color:blueviolet;
}
.basico{
    color: rgb(49, 165, 49);
    font-weight: lighter;
}
.intermediario{
    color: rgb(49, 80, 165);
    font-weight: bold;
}
.avancado{
    color: rgb(165, 49, 49);
    font-weight: bolder;
}
.destaque{
    background-color: bisque;
}