@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(193, 250, 193);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: green;
}
h1#principal{
    text-align: center;
    color:crimson;
    background-color: aqua;
}
h2{
    color:blueviolet;
}